.choice{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 39em;
  height: 20em;
  border-radius: 1.5em;
  background-color: #436998 ;
  margin: 0 auto;
  margin-top: 7em;
  border: 2px solid #040A44;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 1);
}
.pushCat{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
 
}

.myCard {
      box-sizing: border-box;
      width: 12em;
      height: 16em;
      background: rgba(217, 217, 217, 0.58);
      border: 5px solid #040A44;
      box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
      backdrop-filter: blur(6px);
      border-radius: 1.9em;
      text-align: center;
      cursor: pointer;
      transition: all 0.5s;
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none;
      font-weight: bolder;
      color: black;
      margin: 0.25em;
    }
    
    .myCard:hover {
      border: 5px solid #040A44;
      transform: scale(1.05);
    }
    
    .myCard:active {
      transform: scale(0.95) rotateZ(1.7deg);
    }

.selectImg{
  width: 100%;
  height: 100%;
  border-radius: 1.5em;
}

.selht{
  position: absolute;
  top: 85%;
  font-size: large;
  background-color: #83C7F1;
  opacity: 0.8;
  
  width: 140px;
  border-radius: 0.25em;
}

.selhf{
  color: white;
}